@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Nova+Round);

body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#292c33;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	font-family: 'Roboto', sans-serif;
	color: #95a2bb;
}
a {
	color:#d49a67;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	position:fixed;
	z-index:2;
}
#header {
	/*border-bottom:1px solid #000;*/
	background-color:#292c33;
	height:95px;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:90%;
	list-style:none;
	margin:4px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
	float: right;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:15px;
	text-align:center;
	background:#59b3c5;
	color:#292c33;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#88b379;
	color:#5f6b85;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#5f6b85;
	background:#607D8B;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	margin-top:95px;
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	/*background:#F1F8E9;*/		/* right column background colour */
}
.leftmenu .colleft {
	right:85%;			/* right column width */
	/*background:#DCEDC8;*/	/* left column background colour */
}
.leftmenu .col1 {
	width:84%;			/* right column content width */
	left:100%;			/* 100% plus left column left padding */
	background-color: #292c33;
	padding-left:1%
}
.leftmenu .col2 {
	width:13%;			/* left column content width (column width minus left and right padding) */
	left:1%;			/* (right column left and right padding) plus (left column left padding) */
}

.col2 {
	position: fixed;
}
.col2 ul {
	list-style-type:none;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	/*border-top:1px solid #000;*/
}
#footer p {
	padding:10px;
	margin:0;
}


.brand {
	text-transform: uppercase;
	font-size: 2.2em;
	color: #bf6e7c;
	text-decoration: none;
	font-family: 'Nova Round', cursive;
}
