<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{{ site.github.project_title }}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/pygments.css" media="screen" />
</head>
<body>
<div id="header">
	<p><a class="brand" href="{{ site.github.url }}/">{{ site.github.project_title }}</a></p>
	<ul>
		<li><a href="{{ site.github.repository_url }}">Repository</a></li>
		<li><a href="{{ site.github.issues_url }}">Issues</a></li>
	</ul>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
